* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  margin-top: 5px;
  min-height: 50px;
  min-width: 2500px;
  border-radius: 10px;
}

// Styles on classes (see eww.yuck for more information)
.sidestuff {
	color: #1B6AD6;
	font-size: 22px;
	font-weight: bold;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 15px;
}


.sidestuff slider {
  all: unset;
  color: #ffd5cd;
  
}

.metric{
	font-size: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #4FEEFB;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  // background-color: #4FEEFB;
  // background-color: #1B6AD6
  border-radius: 50px;
  min-height: 3px;
  min-width: 30px;
  margin-left: 10px;
  margin-right: 20px;
  
}
.metric scale trough highlight {
  all: unset;
  background-color: #1B6AD6
  // background-color: black;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4FEEFB;
  border-radius: 50px;
  min-height: 3px;
  min-width: 30px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}
.workspaces button:hover {
  background-color: #4FEEFB;
  box-shadow: 0px 0px 3px #4FEEFB;
  transition: all 1s;
}
.workspaces{
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	border: 5px solid #1B6AD6;
	border-radius: 25px;

}

.active,
.inactive{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-right: 8px;
	padding-left: 20px;
	border-radius: 50%;
}

.active{
	background-color: #4FEEFB;
	box-shadow: 0px 0px 2px 1px #4FEEFB;
}
.inactive{
	background-color: #1B6AD6;
}
.dummy{
	background-color: transparent;
	padding: 0;
	margin: 0;
}
