@import "laptop.scss"

$secondary-color: black;
$main-color: #20242D;

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
	margin-top: 5px;
}

// Styles on classes (see eww.yuck for more information)
.sidestuff {
	color: $secondary-color;
	background-color: $main-color;
	padding-left: 5px;
	padding-right: 5px;
}

.sidestuff slider {
	all: unset;
	color: #ffd5cd;
}

.metric{
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	color: black;
}
.volume {
	color: #C6A0F6;
}
.cpu {
	color: #EE99A0;
}
.ram {
	color: #EED49F;
}
.time{
	color: #F5BDE6;
}
.battery{
	color: #7dc4e4;	
}

.powerbutton{
	color: #F4DBD6;
}

.metric scale trough highlight {
	all: unset;
	background-color: #C6A0F6;
	color: #000000;
}

.metric scale trough {
	all: unset;
	background-color: white;
	min-height: 3px;
	min-width: 30px;
}

.label-ram {
	font-size: small;
}

.workspaces button:hover {
	background-color: $main-color;
	box-shadow: 0px 0px 3px $main-color;
	transition: all 1s;
}

.workspaces{
	background-color: $main-color;
}

.o1, .o2, .o3, .o4, .o5, .o6, .o7, .o8, .o9, .o11, .o22, .o33, .o44, .o55, .o66, .o77, .o88, .o99{
	padding-right: 0px;
	border-radius: 3px;
}
.o{
	border-radius: 3px;
	border: 2px solid #494d64;
}

.o1, .o2, .o3, .o4, .o5, .o6, .o7, .o8, .o9{
	box-shadow: 0px 0px 1px 1px #CAD3F5;
	border: 1px solid #494d64;
	border-radius: 3px;
}

.o11, .o22, .o33, .o44, .o55, .o66, .o77, .o88, .o99{
	background-color: #a5adcb;
	border: 1px solid #a5adcb;
	box-shadow: inset 0px 0px 1px 2px black;
	border-radius: 3px;
}

.power{
	background-color: rgba(0, 0, 0, 0.4);
	margin: 500px;
	border-radius: 2px;
}

.widgetbutton{
	font-size: 20px;
	color: black;
	margin-left: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
}

.powerbuttonbox{
	padding: 20px;
	border: 3px solid $secondary-color;
	background-color: $main-color;
}

.homebase{
	background-color: grey; 
	color: green;
	font-size: 60px;
	border-radius: 10%;
}
.assbox{
	padding: 10px;
	font-family: monospace;
}
.ass{border: 1px solid black;}
.homebasebox{
	// margin: 500px;
	// padding-top: 100px;
	// padding-bottom: 100px;
	// padding-left: 500px;
	// padding-right: 500px;
}

.memoryBox{
	background-color: black;
	border: 1px solid blue;
	margin: 200px;
	margin-left: 100px;
}
